.hot
{
  position: relative;
	padding: 30px;
  border-radius: 20px;
	background:linear-gradient( to top right, rgba(255,87,34,1) 0%,
	rgba(251,140,0 ,1) 100%);
	box-shadow: 1px 1px 30px rgba(255,111,0 ,1);
}
.sun
{
	position: absolute;
	top:-10%;
	left:65%;
	width:55px;
	height: 55px;
	border-radius: 100%;
	background:linear-gradient( to bottom left, rgba(255,235,59,1) 0%,
	rgba(249,168,37 ,1) 90%);
	box-shadow: 1px 1px 30px rgba(255,160,0 ,1);
	animation: inex 3s infinite linear ;
	
}

.sunx
{
	position: absolute;
	top:30%;
	left:45%;
	width:10px;
	height: 10px;
	border-radius: 100%;
	background-color: #fff;
	opacity:0.2;
}




@keyframes inex {


	50% {
	opacity: 0.4;

	}
	60%
	{
		opacity: 1;
	}
}
@keyframes move {


	50% {
	transform: translateX(-10px);

	}
}
@keyframes fall {
10%
{
	opacity:0.8;
}

	50% {
		opacity:1;
	transform: translate(-10px,30px);

	}
	100%
	{
		transform: translate(-25px,70px);

		
	}
}
@keyframes flash
{
	48%
	{
		background-color: rgba(96,125,139 ,1);
	}
	50%
	{
		background-color: #fff;
	}
	55%
	{
		background-color: rgba(96,125,139 ,1);
	}
	57%
	{
		background-color: #fff;	
	}
}
@keyframes meteor
{

10%
{opacity: 1;
}
80%	
{
left:10%;
top:75%;
opacity: 0;
}
}